* {
    box-sizing: border-box;
    font-family: Roboto;
}
body {
    margin: 0;
}
.heroWrapper {
    background-color: #1F2937;
}
.heroContent {
    padding: 5px 250px;
}
.heroMainText {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
    margin: 0;
}
.heroSecondaryText {
    font-size: 18px;
    color: #E5E7EB;
}
.heroLogoText {
    font-size: 24px;
    color: #F9FAF8;
}
.menuBar {
    display: flex;
    justify-content: space-between;
}
.leftMenuBar, .rightMenuBar {
    display: flex;
    align-items: center;
    gap: 16px;
}
.mainHero {
    display: flex;
    justify-content: space-between;
    gap: 50px;
    padding: 100px 0;
}
.leftHero, .rightHero {
    width: 50%;
}
.rightHero img {
    width: 100%;
    height: auto;
}
button.signUpButton {
    background-color: #3882F6;
    color: #FFFFFF;
    border: none;
    padding: 5px 15px;
    border-radius: 5px;
}

.informationHeader {
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
    text-align: center;
}

.informationMain {
    display: flex;
    justify-content: center;
    gap: 25px;
    padding-bottom: 100px;
}

.informationCell p {
    max-width: 150px;
    text-align: center;
}

.informationBlueBox {
    border: 3px solid #3882F6;
    border-radius: 10px;
    height: 150px;
    width: 150px;
}

.quoteWrapper {
    background-color: #E5E7EB;
}
.quoteBox {
    margin: 0 auto;
    max-width: 1000px;
    padding: 100px;
}
.quoteText {
    font-size: 36px;
    font-weight: 300;
    color: #1F2937;
    margin: 0.5em 0;
}
.quoteAuthor {
    text-align: right;
    font-size: 28px;
    margin: 0;
}

.callToActionBox {
    margin: 100px auto;
    max-width: 1000px;
    padding: 100px;
    border-radius: 5px;
    background-color: #3882F6;
    color: #FFFFFF;
    display: flex;
    justify-content: space-between;
}

.callToActionTitle {
    font-size: 28px;
}
button.CTAbutton {
    background-color: #3882F6;
    color: #FFFFFF;
    border: 2px solid #FFFFFF;
    padding: 10px 35px;
    border-radius: 5px;
    font-size: 18px;
}

footer {
    background-color: #1F2937;
}