* {
    box-sizing: border-box;
    font-family: Roboto;
}
body {
    margin: 0;
}
.heroWrapper {
    background-color: #1F2937;
}
.heroContent {
    padding: 5px 250px;
}
.heroMainText {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}
.heroSecondaryText {
    font-size: 18px;
    color: #E5E7EB;
}
.heroLogoText {
    font-size: 24px;
    color: #F9FAF8;
}
.menuBar {
    display: flex;
    justify-content: space-between;
}
.leftMenuBar, .rightMenuBar {
    display: flex;
    align-items: center;
    gap: 16px;
}
.mainHero {
    display: flex;
    justify-content: space-between;
    gap: 50px;
    padding: 100px 0;
}
.leftHero, .rightHero {
    width: 50%;
}
.rightHero img {
    width: 100%;
    height: auto;
}

footer {
    background-color: #1F2937;
}